:root
{
  --body-bg: #EFFAFA;
  --green: #5CA5A5;
  --light-green: rgb(92, 165, 165, 0.1);
  --blurry-green: #7C8F8F;
  --black: #2B3939;

}
/* ** GLOBAL STYLES ** */
html
{
  height: 100%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*,
*::before,
*::after
{
  box-sizing: inherit;
}
/* ----------------- */
/* ===== body ====== */
/* ----------------- */
body
{
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-size: 15px;
  line-height: 1.5;
  font-family: "League Spartan", Arial, sans-serif;
  font-weight: bold;
  background-color: var(--body-bg);
  color: var(--black);
}
img
{
  max-width: 100%;
  height: auto;
}

/* * * VISUALLY HIDDEN * * */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* *** CONTAINER *** */
.container
{
  width: 100%;
  max-width: 1150px;
  padding-left: 20px;
  padding-right: 20px;
  margin-right: auto;
  margin-left: auto;
}

/* * BADGE * */
.badge {
  display: inline-block;
  font-size: 11px;
  line-height: 14px;
  text-align: center;
  letter-spacing: -0.08 px;
  padding: 6px 8px 4px;
  border-radius: 12px;
  text-transform: uppercase;
}
.badge-green {
  background-color: var(--green);
  color: #FFFFFF;
}
.badge-black {
  background-color: var(--black);
  color: #FFFFFF;
}
/* TAG */
.tag {
  font-size: 13px;
  line-height: 24px;
  letter-spacing: -0.10px;
  text-align: left;
  color: var(--green);
  background-color: var(--light-green);
  padding: 4px 8px;
  border-radius: 4px;
}
/* * HEADER * */
.site-header
{
  min-height: 156px;
  background-color: var(--green);
  background-image: url(../img/header-bg.svg);
}

/* ** MAIN CONTENT ** */
.main-content
{
  flex-grow: 1;
  padding-top: 76px;
  padding-bottom: 120px;
}

/* * * JOB LISTINGS * * */
.job-listings {
  padding: 0;
  margin: 0;
  list-style: none;
}
.job-listings-item {
  display: flex;
  align-items: center;
  background-color: #FFFFFF;
  padding: 32px 40px 32px 35px;
  border-radius: 5px;
  border-left: 5px solid transparent;
  box-shadow:  0px 15px 20px -5px #0D718226;
}
.job-listings-item-featured{
  border-left: 5px solid var(--green);
}
.job-listings-item:not(:last-child)
{
  margin-bottom: 24px;
}
.job-listings-logo {
  flex-shrink: 0;
  width: 88px;
  height: 88px;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 24px;
}
.job-listings-info {
  flex-grow: 1;
  margin-right: 24px;
}
.job-listings-company-badges {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}
.job-listings-company-name {
  font-size: 14px;
  line-height: 16px;
  color: var(--green);
  margin-right: 16px;
}
.job-listings-badges {
  display: flex;
}
.job-listings-badge-item:not(:last-child) {
  margin-right: 8px;
}
.job-listings-position {
  margin: 0;
  padding: 0;
  margin-bottom: 8px;
}
.job-listings-link{
  font-size: 18px;
  line-height: 24px;
  text-align: left;
  color: var(--black);
  text-decoration: none;
  text-transform: capitalize;
}
.job-listings-link:hover{
  color: var(--green);
}
.job-listings-link:active
{
  opacity: 0.6;
}
.job-listings-addl {
  display: flex;
  align-items: center;
}
.job-listings-addl-item {

  font-weight: 500;
  letter-spacing: -0.11px;
  text-align: left;
  color: var(--blurry-green);
}
.job-listings-addl-item:not(:last-child)
{
  position: relative;
  margin-right: 36px;
}
.job-listings-addl-item:not(:last-child)::after
{
  position: absolute;
  right: -20px;
  top: 50%;
  transform: translateY(-50%);
  width: 4px;
  height: 4px;
  background-color: #B7C4C4;
  border-radius: 50%;
  content: "";
}

.job-listings-tags {
  display: flex;
  flex-grow: 1;
  justify-content: flex-end;
  align-items: center;
  padding: 0;
  margin: 0;
  list-style: none;
}
.job-listings-tags-item:not(:last-child) {
  margin-right: 16px;
}
